{# empty Twig template #}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('homepage') }}">SymBNB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('homepage') }}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('ads_index') }}">Annonces</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownlink" href="#"><img src="{{ app.user.picture }}" class="avatar avatar-mini" alt="avatar de {{ app.user.fullName}}">{{ app.user.fullName }}</a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelleby="accountDropdownlink">

                        <a class="dropdown-item" href="{{ path('ads_create') }}">créer une annonce</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('account_index') }}">Mon compte</a>
                        <a class="dropdown-item" href="{{ path('account_bookings') }}">Mes reservation</a>
                        <a class="dropdown-item" href="{{ path('account_profile') }}">Modifier mon profil</a>


                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('account_logout') }}">Deconnexion</a>

                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_register') }}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_login') }}">Connexion</a>
                </li>
            {% endif %}


        </ul>

    </div>
</nav>

{% for label, messages in app.flashes %}
    <div class='container'>
        <div class='alert alert-{{ label }}'>

            {% for message in messages %}
                <p> {{ message|raw }}</p>
            {% endfor %}

        </div>
    </div>
{% endfor %}